<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="dog2">

  <ros2_control name="dog_system" type="system">

        <hardware>
            <plugin>mujoco_ros2_control/MujocoSystem</plugin>
        </hardware>

        <joint name="lf_joint1">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="lf_joint2">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="lf_joint3">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        

        <joint name="rf_joint1">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="rf_joint2">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="rf_joint3">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        

        <joint name="lb_joint1">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="lb_joint2">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="lb_joint3">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        

        <joint name="rb_joint1">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="rb_joint2">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="rb_joint3">
            <!-- <command_interface name="position" />
              <command_interface name="velocity" /> -->
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        

    </ros2_control>

    <link name="world" />
    <joint name="float_joint" type="floating">
        <parent link="world" />
        <child link="body_link" />
    </joint>

  <link
    name="body_link">
    <inertial>
      <origin
        xyz="0.0074675 1.5026E-09 0.016183"
        rpy="0 0 0" />
      <mass
        value="2.2266" />
      <inertia
        ixx="0.0083942"
        ixy="1.221E-07"
        ixz="-7.9822E-07"
        iyy="0.0059449"
        iyz="-2.0832E-10"
        izz="0.012527" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/body_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/body_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lf_link1">
    <inertial>
      <origin
        xyz="0.0084505 -0.00084579 0.043881"
        rpy="0 0 0" />
      <mass
        value="0.30939" />
      <inertia
        ixx="0.00029803"
        ixy="2.5188E-08"
        ixz="2.5142E-08"
        iyy="0.00013745"
        iyz="6.2906E-06"
        izz="0.00019077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lf_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lf_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_joint1"
    type="revolute">
    <origin
      xyz="0.1966 0.060013 0.042001"
      rpy="1.5708 0 1.5708" />
    <parent
      link="body_link" />
    <child
      link="lf_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="lf_link2">
    <inertial>
      <origin
        xyz="0.037519 -0.00053538 0.059874"
        rpy="0 0 0" />
      <mass
        value="0.779" />
      <inertia
        ixx="0.00046856"
        ixy="3.3247E-05"
        ixz="-2.5889E-08"
        iyy="0.0021194"
        iyz="-3.0126E-08"
        izz="0.0025412" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lf_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lf_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_joint2"
    type="revolute">
    <origin
      xyz="0.031287 0 0.06"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="lf_link1" />
    <child
      link="lf_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="lf_link3">
    <inertial>
      <origin
        xyz="0.062414 -6.1998E-09 0.00080924"
        rpy="0 0 0" />
      <mass
        value="0.57476" />
      <inertia
        ixx="0.00017559"
        ixy="-3.7368E-13"
        ixz="6.3253E-18"
        iyy="0.0010051"
        iyz="1.1213E-19"
        izz="0.001157" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lf_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lf_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_joint3"
    type="revolute">
    <origin
      xyz="0.20707 -0.0041231 0.0716"
      rpy="0 0 -1.5708" />
    <parent
      link="lf_link2" />
    <child
      link="lf_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="lf_link4">
    <inertial>
      <origin
        xyz="-2.5145E-11 0.00037838 -2.8986E-12"
        rpy="0 0 0" />
      <mass
        value="0.084832" />
      <inertia
        ixx="4.1343E-05"
        ixy="-3.3881E-21"
        ixz="-1.9714E-19"
        iyy="4.1356E-05"
        iyz="1.3713E-19"
        izz="7.4481E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lf_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lf_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_joint4"
    type="fixed">
    <origin
      xyz="0.22 0 0.001"
      rpy="0 0 -1.5708" />
    <parent
      link="lf_link3" />
    <child
      link="lf_link4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rf_link1">
    <inertial>
      <origin
        xyz="-0.0084769 0.00076391 0.044004"
        rpy="0 0 0" />
      <mass
        value="0.30939" />
      <inertia
        ixx="0.00029803"
        ixy="-2.538E-08"
        ixz="3.6129E-08"
        iyy="0.00013745"
        iyz="-6.2906E-06"
        izz="0.00019077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rf_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rf_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_joint1"
    type="revolute">
    <origin
      xyz="0.1966 -0.059987 0.042001"
      rpy="1.5708 0 1.5708" />
    <parent
      link="body_link" />
    <child
      link="rf_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="rf_link2">
    <inertial>
      <origin
        xyz="0.041775 -0.00060406 0.058908"
        rpy="0 0 0" />
      <mass
        value="0.72406" />
      <inertia
        ixx="0.00039698"
        ixy="3.406E-05"
        ixz="-2.5889E-08"
        iyy="0.0020886"
        iyz="-3.0127E-08"
        izz="0.0024529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rf_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rf_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_joint2"
    type="revolute">
    <origin
      xyz="-0.031313 0 0.06"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="rf_link1" />
    <child
      link="rf_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="rf_link3">
    <inertial>
      <origin
        xyz="0.062414 1.072E-08 -0.00019077"
        rpy="0 0 0" />
      <mass
        value="0.57476" />
      <inertia
        ixx="0.00017559"
        ixy="-3.7183E-13"
        ixz="5.3302E-18"
        iyy="0.0010051"
        iyz="4.9554E-19"
        izz="0.001157" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rf_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84706 0.84706 0.84706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rf_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_joint3"
    type="revolute">
    <origin
      xyz="0.20707 -0.0041231 0.0726"
      rpy="0 0 1.5708" />
    <parent
      link="rf_link2" />
    <child
      link="rf_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="rf_link4">
    <inertial>
      <origin
        xyz="1.1289E-12 -0.00037838 -1.2451E-12"
        rpy="0 0 0" />
      <mass
        value="0.084832" />
      <inertia
        ixx="4.1343E-05"
        ixy="-4.7434E-20"
        ixz="-7.2417E-20"
        iyy="4.1356E-05"
        iyz="1.3491E-18"
        izz="7.4481E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rf_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rf_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_joint4"
    type="fixed">
    <origin
      xyz="0.22 0 0"
      rpy="3.1416 0 -1.5708" />
    <parent
      link="rf_link3" />
    <child
      link="rf_link4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lb_link1">
    <inertial>
      <origin
        xyz="0.0084769 -0.00076391 0.044004"
        rpy="0 0 0" />
      <mass
        value="0.30939" />
      <inertia
        ixx="0.00029803"
        ixy="-2.538E-08"
        ixz="-3.6129E-08"
        iyy="0.00013745"
        iyz="6.2906E-06"
        izz="0.00019077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lb_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lb_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_joint1"
    type="revolute">
    <origin
      xyz="-0.1966 0.059987 0.042001"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="body_link" />
    <child
      link="lb_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="lb_link2">
    <inertial>
      <origin
        xyz="0.037519 -0.00053537 0.059874"
        rpy="0 0 0" />
      <mass
        value="0.779" />
      <inertia
        ixx="0.00046856"
        ixy="3.3247E-05"
        ixz="-2.589E-08"
        iyy="0.0021194"
        iyz="-3.013E-08"
        izz="0.0025412" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lb_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lb_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_joint2"
    type="revolute">
    <origin
      xyz="0.031313 0 0.06"
      rpy="1.5708 0 1.5708" />
    <parent
      link="lb_link1" />
    <child
      link="lb_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="lb_link3">
    <inertial>
      <origin
        xyz="0.062414 -4.3973E-09 -0.00019076"
        rpy="0 0 0" />
      <mass
        value="0.57476" />
      <inertia
        ixx="0.00017559"
        ixy="-1.2259E-13"
        ixz="6.5593E-18"
        iyy="0.0010051"
        iyz="1.3189E-18"
        izz="0.001157" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lb_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lb_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_joint3"
    type="revolute">
    <origin
      xyz="0.20707 -0.0041231 0.0726"
      rpy="0 0 -1.5708" />
    <parent
      link="lb_link2" />
    <child
      link="lb_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="lb_link4">
    <inertial>
      <origin
        xyz="8.3939E-11 -0.00037838 1.0408E-14"
        rpy="0 0 0" />
      <mass
        value="0.084832" />
      <inertia
        ixx="4.1343E-05"
        ixy="-3.6998E-18"
        ixz="-2.6398E-21"
        iyy="4.1356E-05"
        iyz="1.3826E-18"
        izz="7.4481E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lb_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/lb_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_joint4"
    type="fixed">
    <origin
      xyz="0.22 0 0"
      rpy="3.1416 0 -1.5708" />
    <parent
      link="lb_link3" />
    <child
      link="lb_link4" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="rb_link1">
    <inertial>
      <origin
        xyz="-0.0084505 0.00084579 0.043881"
        rpy="0 0 0" />
      <mass
        value="0.30939" />
      <inertia
        ixx="0.00029803"
        ixy="2.5188E-08"
        ixz="-2.5142E-08"
        iyy="0.00013745"
        iyz="-6.2906E-06"
        izz="0.00019077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rb_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rb_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_joint1"
    type="revolute">
    <origin
      xyz="-0.1966 -0.060013 0.042001"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="body_link" />
    <child
      link="rb_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="rb_link2">
    <inertial>
      <origin
        xyz="0.041766 0.0010594 0.058908"
        rpy="0 0 0" />
      <mass
        value="0.72406" />
      <inertia
        ixx="0.00039695"
        ixy="-3.3336E-05"
        ixz="-2.4669E-08"
        iyy="0.0020887"
        iyz="-3.1133E-08"
        izz="0.0024529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rb_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rb_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_joint2"
    type="revolute">
    <origin
      xyz="-0.031287 0 0.06"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="rb_link1" />
    <child
      link="rb_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="rb_link3">
    <inertial>
      <origin
        xyz="0.063493 -4.4381E-09 -0.00052984"
        rpy="0 0 0" />
      <mass
        value="0.56499" />
      <inertia
        ixx="0.00017477"
        ixy="-3.751E-13"
        ixz="-2.881E-18"
        iyy="0.0010043"
        iyz="3.6437E-19"
        izz="0.0011556" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rb_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rb_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_joint3"
    type="revolute">
    <origin
      xyz="0.207068955959481 0.00412305443282812 0.0725999999999785"
      rpy="0 0 1.5708" />
    <parent
      link="rb_link2" />
    <child
      link="rb_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4"
      upper="4"
      effort="20"
      velocity="16" />
  </joint>
  <link
    name="rb_link4">
    <inertial>
      <origin
        xyz="8.7061E-13 -0.00037838 2.8755E-13"
        rpy="0 0 0" />
      <mass
        value="0.084832" />
      <inertia
        ixx="4.1343E-05"
        ixy="-3.3881E-21"
        ixz="7.3257E-21"
        iyy="4.1356E-05"
        iyz="1.3921E-18"
        izz="7.4481E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rb_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dog2/model/rb_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_joint4"
    type="fixed">
    <origin
      xyz="0.22 0 0"
      rpy="-3.1416 0 -1.5708" />
    <parent
      link="rb_link3" />
    <child
      link="rb_link4" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>